html 
    head   
        title MCU - TimeLine 
        style
            include ../static/css/base.css
    body 
        nav.navBar 
            ul  
                li.home
                    a(href="/") Home 
                li.about 
                    a(href="/About") About
                li.contact 
                    a(href="/Contact") Contact Us
            a(class= "mobile") &#9776;
        script(src="../staticfiles/js/about.js") 