/* Import the google font baloo bhai  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

/* Style for whole website  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    overflow-x: hidden;
    /* background-image: url(../images_and_videos/strawberrycake.jpg); */
    background-size: contain;
}

/* style for nvigation bar  */
.navbar{
    display: flex;
   /* flex-direction: column-reverse; */
   /* flex-direction: row-reverse; */
   background-color: rgb(124, 124, 121);
   height: 60px;
   justify-content: center;
   align-content: center;
}
/* logo   */
.navbar .logo{
    align-self: center;
    font-family: 'Dancing Script', cursive;
    position: relative;
    right: 300px;
    bottom: 4px;
    font-size: 30px;
}

/* logo image  */
.navbar img{
    width: 80px;
    border: 1px solid none;
    border-radius: 500px;
    position: relative;
    right: 320px;
}

/* list of navigation  */
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 8px 20px;

}

ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
/* hover effect in nav menu  */
a:hover{
    background-color: white;
    color:black;
}

/* Main content  */
/* container 1 for special dishes */

.container1{
    /* height: 40vh; */
    height: 400px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    /* align-content: space-around; */
    background-image: url(../images_and_videos/restaurant-691397_1920.jpg);
}
/* Making the welcome animation */
@keyframes welcome {
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}
/* Issue is that the animation is not work properly */
.container1 h1{
    height: 50px;
    text-align: center;
    position: relative;
    left:512px;
    top:10px;
    background-color: rgb(80, 80, 146);
    color: rgb(223, 213, 213);
    font-size: 2.3rem;
    visibility: hidden;
    /* animation: welcome 8s ease 1 normal ; */
    animation-name: welcome;
    animation-duration: 8s;
    animation-direction: initial;
    animation-timing-function: inherit;
    animation-fill-mode: inherit;
}

.container1 .box1{
    height: 250px;
    width: 35%;
    /* border: 2px solid black; */
    margin:100px 0px;
    background:url(../images_and_videos/strawberrycake.jpg);
    /* opacity: 0.8; */
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    opacity: 0.9;  
    position: relative;  
    right: 370px;
}
.box1 p{
    position: relative;
    left: 20px ;
    top: 20px;
    font-size: 30px;
    color: white;
}
.box1 span{
    position: relative;    
    left: 20px ;
    top: 20px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.btn{
    display: inline-block;
    width: 30%;
    height: 10vh;
    padding: 3px;
    font-size: 16px;
    color: white;
    background-color: rgb(29, 204, 29);
}
#btn1{
    position: relative;
    top: 60px;
    right: -60px;
}
#btn2{
    position: relative;
    top: 90px;
    right: 30px; 
}

.container1 .box2{
    height: 250px;
    width: 35%;
    /* border: 2px solid blue; */
    margin:100px 0px;
    background:url(../images_and_videos/noodles.jpg);
    opacity: 0.9; 
    position: relative;
    right: 40px;
}
.box2 p{
    position: relative;
    left: 20px ;
    top: 20px;
    font-size: 30px;
    color: white;
    position: relative;
    right: 50px;
}
.box2 span{
    position: relative;    
    left: 20px ;
    top: 20px;
    color: white;
    font-size: 15px;
    
}

/* Container 2 for all dishes  */
.container2{
    height: 800px;
    /* border: 2px solid blue; */
    margin:90px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url(../images_and_videos/lime-2481346_1920.jpg); */
}
.container2 h3{
    /* text-align: center; */
    position: sticky;
    left: 570px;
    font-size: 30px;
    /* margin-bottom: 20px; */
}
.container2 .dish{
    height:270px;
    width: 390px;
    /* border: 2px solid black; */
    margin:40px 10px 0px 0px;
    position: relative;
    right: 100px;
    overflow: hidden;
}
#dish4, #dish5 , #dish6{
    position: relative;
    right: -21px;
}
#p1{
    position: relative;
    bottom: 580px;
    left: 240px;
    font-size: 20px;
}
#p1 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: 10px;
}
#p2{
    position: relative;
    bottom: 640px;
    left: 700px;
    font-size: 20px;
}
#p2 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: 15px;
}
#p3{
    position: relative;
    bottom: 710px;
    left: 1130px;
    font-size: 20px;
}
#p3 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: 10px;
}
#p4{
    position: relative;
    bottom: 380px;
    left: 275px;
    font-size: 20px;
}
#p4 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: 10px;
}
#p5{
    position: relative;
    bottom: 440px;
    left: 688px;
    font-size: 20px;
}
#p5 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: 10px;
}
#p6{
    position: relative;
    bottom: 510px;
    left: 1088px;
    font-size: 20px;
}
#p6 span{
    font-style:italic;
    font-weight: bold;
    position:relative;
    right: -3px;
}


.clients{
    height: 600px;
    border: 3px solid black;
    /* margin-top: 20px; */
    background: url(../images_and_videos/table-2879213_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;


}
.clientname{
    height: 200px;
    width: 15%;
    /* border: 2px solid blue; */
    margin: 20px;
    overflow: hidden;

}

#client1{
    background:url(../images_and_videos/swiggy.png) center no-repeat 
}
#client2{
    background:url(../images_and_videos/macdonald.png) center no-repeat 
}
#client3{
    background:url(../images_and_videos/zomato.png) center no-repeat 
}
#client4{
    background:url(../images_and_videos/kfc.png) center no-repeat 
}
#client5{
    background:url(../images_and_videos/Amul.png) center no-repeat 
}
#client6{
    background:url(../images_and_videos/dominos.png) center no-repeat 
}

/* .imgclient{
    height:200px ;
} */
