@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navBar{
    background-color: rgb(146, 131, 112);
    height: 50px;
    display: flex;
}
.navBar ul {
    display: flex;
    align-items: center;
}
.navBar ul li {
    list-style: none;
    margin: 0px 30px;
    font-size: 20px;
}
#title {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

/* Containers styling  */
.container{
    margin: 30px 50px;
    font-family: 'Roboto', sans-serif;
}
.firstChildContainer{
    border: 2px solid rgb(107, 116, 107);
    margin: 20px 0px ;
    /* display: flex;
    flex-direction: column; */
}
.titleBox{
    margin: 20px 30px;
    /* padding: 20px 0; */
}
.titleBox #titleArea{
    margin-top: 10px;
    width: 230px;
    height: 30px;
    font-size: 16px;
}
.textBox{
    margin: 20px  30px;
}
.textBox h3{
    margin-bottom: 10px;
}
.textBox #textArea{
    /* margin-top: 30px; */
    font-size: 25px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#addNote{
    background-color: #007bff;
    color: white;
    border-radius: 2px;
    padding: 5px;
}